<div class="bg-tertiary flex h-screen">
  <!-- Barra lateral -->
  <div class="w-63 h-full bg-gray-800 p-5 flex flex-col justify-between transition-all ease-in-out duration-500 ">
    <!-- Nombre de la página -->
    <div class="flex items-center text-gray-200">
      <span class="ml-2 text-2xl font-semibold">CRUD</span>
    </div>

    <!-- Navegación -->
    <ul class="flex flex-col space-y-2 overflow-y-auto text-gray-400">
      <li>
        <a class="flex items-center hover:bg-gray-200 px-4 py-3 rounded-md">
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a class="flex items-center hover:bg-gray-200 px-4 py-3 rounded-md">
          <span>Contacto</span>
        </a>
      </li>
      <li>
        <a class="flex items-center hover:bg-gray-200 px-4 py-3 rounded-md">
          <span>Trabajo</span>
        </a>
      </li>
      <li>
        <a class="flex items-center hover:bg-gray-200 px-4 py-3 rounded-md">
          <span>Chat</span>
        </a>
      </li>
      <li>
        <a class="flex items-center hover:bg-gray-200 px-4 py-3 rounded-md">
          <span>Configuración</span>
        </a>
      </li>
    </ul>

    <!-- Línea -->
    <div class="linea mt-10 h-px bg-gray-300"></div>

    <!-- Información del usuario -->
    <div class="usuario flex items-center">
      <img src="user.jpg" alt="Usuario" class="w-12 h-12 rounded-lg" />
      <div class="info-usuario flex ml-3">
        <div class="nombre-email flex flex-col">
          <span class="nombre font-semibold text-gray-700">Nombre Usuario</span>
          <span class="email text-gray-500">usuarioexample.com</span>
        </div>
      </div>
    </div>
  </div>


</div>
